.image-view {
  overflow: auto;

  .image-container {
    height: 100%;
    width: 100%;
    padding: 10px;
  }

  img {
    box-sizing: content-box;
    border: 1px solid #FFF;
    background: url(atom://image-view/images/transparent-background.gif) right bottom #EEE;
    box-shadow: #999 0 0 0 1px;
    position: relative;
    max-width: none;
  }
}
