@import "ui-variables";

@spacing: @component-padding/2;

.image-view {
  display: flex;
  flex-direction: column;
  background-color: @pane-item-background-color;

  .image-controls {
    padding: @spacing;
    border-bottom: 1px solid @panel-heading-border-color;
    background-color: @panel-heading-background-color;

    a {
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      margin: @spacing;
      vertical-align: middle;
      font-size: 0;
      border-radius: @component-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .3), 0 1px rgba(0, 0, 0, .6);
      backface-visibility: hidden;
      background-image: url(atom://image-view/images/transparent-background.png);
      transition: transform .1s;

      &:hover { transform: scale(1.09); }
      &:active { transform: scale(.96); }
    }

    &-color-white {
      background-color: #fff;
      color: #000;
    }

    &-color-black {
      background-color: #000;
      color: #fff;
    }
  }

  .image-container {
    flex: 1;
    display: flex;
    overflow: auto;
  }

  .image-container-cell {
    margin: auto;
  }

  img {
    background: #fff url(atom://image-view/images/transparent-background.png) right bottom;
    //image-rendering: pixelated;
  }
}
